#root{
  min-height: 100vh;
}


.App {
  text-align: center;
  place-items: center;

  display: flex;
  flex-wrap: wrap;
}

/* NAVBAR STYLING */
.Navbar {
  width: 100%;
}



/* CARDS STYLING */
.Cards {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  border: 3px solid teal;
  display: flex;
  flex-direction: column;
  width: 30%;
  
}

.card_title {
  width: 100%;
  font-weight: bold;
  font-size: x-large;
  word-break: break-all;
}

.card_content {
  width: 100%;
  overflow: auto;
  word-break: break-word;
}

.card_created {
  width: 100%;
}

.card_btns {
  width: 100%;
}


/* FORM STYLING */
.Form {
}




/* FOOTER STYLING */
.Footer {
  width: 100%;
}