.App {
  background-color: antiquewhite;
  text-align: center;
  display: grid;
  place-items: center;
}



/* CARDS STYLING */
.Cards {
  background-color: yellow;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-color: yellowgreen;
  border: 3px solid teal;
  padding: 1%;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.card_title {
  width: 100%;
  font-weight: bold;
  font-size: x-large;
}

.card_content {
  width: 100%;
  overflow: auto;
  word-break: break-word;
}

.card_created {
  width: 100%;
}

.card_btns {
  width: 50%;
}



/* NAVBAR STYLING */
.Navbar {
  background-color: aqua;
}




/* FORM STYLING */
.Form {
  background-color: mediumspringgreen;
}




/* FOOTER STYLING */
.Footer {
  background-color: rgb(117, 117, 117);
}